body {
    background: #2a669b;
    background: linear-gradient(90deg, rgba(42, 102, 155, 1) 0%, rgba(139, 83, 237, 1) 100%);
    margin: 0;
    height: 100%;

}

#main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;


}

#main section {
    align-items: center;
    justify-items: center;
}

.navlist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.1rem;
    margin: 0px;
    backdrop-filter: invert(40%);

}


.navlist li {
    list-style-type: none;
    margin-right: 1rem;
    font-family: "Chivo Mono", monospace;
    font-weight: 500;
    font-style: normal;
}

.navlist a {
    color: black;
    text-decoration: none;

}

#name {
    margin-right: auto;
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;



}


footer {
    width: 100%;
    text-align: center;
    height: fit-content;

}

#bottomnav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: black;
    color: white;
    list-style: none;
    margin: 0px;
    padding: 1rem;
}

#bottomnav a {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

#bottomnav p {
    padding-left: 1rem;
    padding-right: 1rem;
}